* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #dfdfdf;
    color: black;
    font-family: sans-serif;
}

.container {
    
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    gap: 16px;
    background-color: white;
    padding: 32px;
    margin-top: 400px;
    border-radius: 5px;
}

.main-title {
    margin: 32px 0;
}

.title {
    margin: 16px 0;
}
