* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #333;
    color: black;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    gap: 16px;
    background-color: #dfdfdf;
    padding: 32px;
    margin-top: 400px;
    border-radius: 8px;
}

.main-title {
    margin: 32px 0;
}

.title {
    margin: 16px 0;
}

body:last-child {
    margin-bottom: 32px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    gap: 12px;
    align-items: end;
}

label {
    display: grid;
    gap: 4px;
}

input {
    padding: 8px 12px;
    border: 2px solid rgb(33, 27, 111);
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 8px 12px;
    background-color: rgb(33, 27, 111);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.error {
    color: red;
}
