*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    bottom: 0;
    list-style: none;
    text-decoration: none;
}

img {
    width: 50%;
    text-align: center;
}

body {
    background-color: black;
    overflow-x: hidden;
    color: white;
}

.container {
    width: 1000px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.php1 {
    display: grid;
    grid-template-columns: 60% 40%;
}

.title {
    padding: 20px 0;
}

.text {
    padding: 5px 0;
}

.color {
    font-weight: 600;
    color: #ffffff;
}

.link {
    color: #312926;
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}